/*hero*/
header {
    margin-top: 55px; }
  
  .hero {
    background: linear-gradient(rgba(233, 200, 200, 0.7), rgba(207, 123, 123, 0.905)), url(../assets/img/hero.jpg);
    background-size: cover;
    max-height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .hero__title {
      font-size: 4rem;
      color: #fff; }
    .hero .parrafo-principal {
      font-size: 2rem;
      color: #eee; }
